version: '3'

services:
  locust-master:
    image: locustio/locust
    ports:
      - "8089:8089"
    volumes:
      - .:/mnt/locust
    command: -f /mnt/locust/locustfile.py --master --host http://host.docker.internal:1351

  locust-worker:
    image: locustio/locust
    volumes:
      - .:/mnt/locust
    command: -f /mnt/locust/locustfile.py --worker --master-host locust-master
